<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Доюавить статью</h1>
<form actions="/blog/add" method="post">
    <input type="text" name="title" placeholder="Введите название статьи "></br>
    <input type="text" name="anons" placeholder="Введите анонс статьи "></br>
    <textarea name="full_text" placeholder="Введите полный текст статьи "></textarea></br>
    <button type="submit">Добавить статью</button>
</form>
<a></a>
</body>
</html>