<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Edit post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Edit Post</h1>
<div th:each="el : ${post}">
    <form method="post">
        <input type="text" th:value="${el.title}" name="title" placeholder="Введите название статьи "></br>
        <input type="text" th:value="${el.anons}" name="anons" placeholder="Введите анонс статьи "></br>
        <textarea name="full_text" placeholder="Введите полный текст статьи " th:text="${el.full_text}"/></br>
        <button type="submit">Upload</button>
    </form>
</div>

</body>
</html>